* {
  box-sizing: border-box;
}

$color-01: #18191A;
$color-02: rgb(192, 132, 64);

// body {
//   padding: 1.5em;
//   background-color: $color-02 !important;
// }

.main-view {
  background-color: $color-01 !important;
  // padding: 3em;
}

