// movie-view.scss

$primary-color: #1F8496;
$white: #fff;

.card-title {
  font-size: 2.2em !important;
}

h2 {
  font-size: 1.1em !important;
}

.accordion-button {
  background-color: $primary-color;
  color: $white;
  padding: 0.7em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

.accordion-body {
  margin: 0 0 1em;
  }